<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/favicon.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">

<!-- Cloudflare Web Analytics (cookieless) -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4408148afb724089af5c2a5ae9ef9bda"}'></script>
<!-- End Cloudflare Web Analytics -->
